// ==++==
//
//   
//    Copyright (c) 2002 Microsoft Corporation.  All rights reserved.
//   
//    The use and distribution terms for this software are contained in the file
//    named license.txt, which can be found in the root of this distribution.
//    By using this software in any fashion, you are agreeing to be bound by the
//    terms of this license.
//   
//    You must not remove this notice, or any other, from this software.
//   
//
// ==--==
STRINGTABLE
BEGIN
1 "Test String"
2 "Test String"
3 "Test String"
4 "Test String"
5 "Test String"
6 "Test String"
7 "Test String"
8 "Test String"
9 "Test String"
10 "Test String"
11 "Test String"
12 "Test String"
13 "Test String"
14 "Test String"
15 "Test String"
16 "Test String"
17 "Test String"
18 "Test String"
19 "Test String"
20 "Test String"
21 "Test String"
22 "Test String"
23 "Test String"
24 "Test String"
25 "Test String"
26 "Test String"
27 "Test String"
28 "Test String"
29 "Test String"
30 "Test String"
31 "Test String"
32 "Test String"
33 "Test String"
34 "Test String"
35 "Test String"
36 "Test String"
37 "Test String"
38 "Test String"
39 "Test String"
40 "Test String"
41 "Test String"
42 "Test String"
43 "Test String"
44 "Test String"
45 "Test String"
46 "Test String"
47 "Test String"
49 "Test String"
50 "Test String"
51 "Test String"
52 "Test String"
53 "Test String"
54 "Test String"
55 "Test String"
56 "Test String"
57 "Test String"
58 "Test String"
59 "Test String"
60 "Test String"
61 "Test String"
62 "Test String"
63 "Test String"
64 "Test String"
65 "Test String"
66 "Test String"
67 "Test String"
68 "Test String"
69 "Test String"
70 "Test String"
71 "Test String"
72 "Test String"
73 "Test String"
74 "Test String"
75 "Test String"
76 "Test String"
77 "Test String"
78 "Test String"
79 "Test String"
80 "Test String"
81 "Test String"
82 "Test String"
83 "Test String"
84 "Test String"
85 "Test String"
86 "Test String"
87 "Test String"
88 "Test String"
89 "Test String"
90 "Test String"
91 "Test String"
92 "Test String"
93 "Test String"
94 "Test String"
95 "Test String"
96 "Test String"
97 "Test String"
98 "Test String"
99 "Test String"
100 "Test String"
101 "Test String"
102 "Test String"
103 "Test String"
104 "Test String"
105 "Test String"
106 "Test String"
107 "Test String"
108 "Test String"
109 "Test String"
110 "Test String"
111 "Test String"
112 "Test String"
113 "Test String"
114 "Test String"
115 "Test String"
116 "Test String"
117 "Test String"
118 "Test String"
119 "Test String"
120 "Test String"
121 "Test String"
122 "Test String"
123 "Test String"
124 "Test String"
125 "Test String"
126 "Test String"
127 "Test String"
128 "Test String"
129 "Test String"
130 "Test String"
131 "Test String"
132 "Test String"
133 "Test String"
134 "Test String"
135 "Test String"
136 "Test String"
137 "Test String"
138 "Test String"
139 "Test String"
140 "Test String"
141 "Test String"
142 "Test String"
143 "Test String"
144 "Test String"
145 "Test String"
146 "Test String"
147 "Test String"
149 "Test String"
150 "Test String"
151 "Test String"
152 "Test String"
153 "Test String"
154 "Test String"
155 "Test String"
156 "Test String"
157 "Test String"
158 "Test String"
159 "Test String"
160 "Test String"
161 "Test String"
162 "Test String"
163 "Test String"
164 "Test String"
165 "Test String"
166 "Test String"
167 "Test String"
168 "Test String"
169 "Test String"
170 "Test String"
171 "Test String"
172 "Test String"
173 "Test String"
174 "Test String"
175 "Test String"
176 "Test String"
177 "Test String"
178 "Test String"
179 "Test String"
180 "Test String"
181 "Test String"
182 "Test String"
183 "Test String"
184 "Test String"
185 "Test String"
186 "Test String"
187 "Test String"
188 "Test String"
189 "Test String"
190 "Test String"
191 "Test String"
192 "Test String"
193 "Test String"
194 "Test String"
195 "Test String"
196 "Test String"
197 "Test String"
198 "Test String"
199 "Test String"
END
STRINGTABLE
BEGIN
201 "Test String"
202 "Test String"
203 "Test String"
204 "Test String"
205 "Test String"
206 "Test String"
207 "Test String"
208 "Test String"
209 "Test String"
210 "Test String"
211 "Test String"
212 "Test String"
213 "Test String"
214 "Test String"
215 "Test String"
216 "Test String"
217 "Test String"
218 "Test String"
219 "Test String"
220 "Test String"
221 "Test String"
222 "Test String"
223 "Test String"
224 "Test String"
225 "Test String"
226 "Test String"
227 "Test String"
228 "Test String"
229 "Test String"
230 "Test String"
231 "Test String"
232 "Test String"
233 "Test String"
234 "Test String"
235 "Test String"
236 "Test String"
237 "Test String"
238 "Test String"
239 "Test String"
240 "Test String"
241 "Test String"
242 "Test String"
243 "Test String"
244 "Test String"
245 "Test String"
246 "Test String"
247 "Test String"
248 "Test String"
249 "Test String"
250 "Test String"
251 "Test String"
252 "Test String"
253 "Test String"
254 "Test String"
255 "Test String"
257 "Test String"
258 "Test String"
259 "Test String"
260 "Test String"
261 "Test String"
262 "Test String"
263 "Test String"
264 "Test String"
265 "Test String"
266 "Test String"
267 "Test String"
268 "Test String"
269 "Test String"
270 "Test String"
271 "Test String"
272 "Test String"
273 "Test String"
274 "Test String"
275 "Test String"
276 "Test String"
277 "Test String"
278 "Test String"
279 "Test String"
280 "Test String"
281 "Test String"
282 "Test String"
283 "Test String"
284 "Test String"
285 "Test String"
286 "Test String"
287 "Test String"
288 "Test String"
289 "Test String"
290 "Test String"
291 "Test String"
292 "Test String"
293 "Test String"
294 "Test String"
295 "Test String"
296 "Test String"
297 "Test String"
298 "Test String"
299 "Test String"
300 "Test String"
301 "Test String"
302 "Test String"
303 "Test String"
304 "Test String"
305 "Test String"
306 "Test String"
307 "Test String"
END