// ==++==
//
//   
//    Copyright (c) 2002 Microsoft Corporation.  All rights reserved.
//   
//    The use and distribution terms for this software are contained in the file
//    named license.txt, which can be found in the root of this distribution.
//    By using this software in any fashion, you are agreeing to be bound by the
//    terms of this license.
//   
//    You must not remove this notice, or any other, from this software.
//   
//
// ==--==
STRINGTABLE
BEGIN
5000007 "a"
5000003 "a"
5000009 "test"
5000005 "there"
5000001 "once"
END


STRINGTABLE
BEGIN
5000008 "functional"
5000002 "upon"
5000004 "time"
5000006 "was"
5000010 "suite"
END
